<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>Your results</h1>
            <br>
            <t2 style="font-size: 25px;"><b>Thanks for answering the questions, here are your results:</b></t2>
            <br>
            <img src="data:image/png;base64, {{ plot1 }}">
            <img src="data:image/png;base64, {{ plot2 }}">
        </header>
    </body>
</html>