<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>Part 3: Examination questions</h1>
        </header>
            <form method="POST" action="/">
                <div class="form-group">
                    <input type="hidden" id="part" name="partID" value="4">
                    <div class="slidecontainer">
                        <t1>How much do you weigh?</t1>
                        <br>
                        <input type="range" name = "weight" value="70" min="30" max="200" oninput="this.nextElementSibling.value = this.value">
                        <output> 70</output> Kg    
                    </div>
                    <div class="slidecontainer">
                        <t1>What is your height?</t1>
                        <br>
                        <input type="range" name = "height" value="160" min="130" max="210" oninput="this.nextElementSibling.value = this.value">
                        <output> 160</output> cm 
                    </div>
                    <label for="heartrate"><t1>What is your resting heartrate? <span style="color:red">(Optional)</span></t1></label><br>
                    <input type="number" min=30 max=120 id="heartrate" name="heartrate" value = ""></input>
                </div>
                <br>
                <div class="button_container">
                    <button class="btn">
                        <span><a style="text-decoration: none;">Next ></a></span>
                </div>
            </form>
    </body>
</html>