<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        
        <header>
            <h1>Part 1: Demographic Questions</h1>
        </header>
        <form method="POST" action="/">
            <div class="form-group">

                <input type="hidden" id="part" name="partID" value="2">

                <t1>What is your gender?</t1>
                <br>
                <label class="rad-label">
                    <input type="radio" id = "gender" class="rad-input" type="submit" name= "gender" value="Male" required>
                    <div class="rad-design"></div>
                    <div class="rad-text">Male</div>
                </label>
                <label class="rad-label">
                    <input type="radio" id = "gender" class="rad-input" type="submit" name= "gender"  value = "Female">
                    <div class="rad-design"></div>
                    <div class="rad-text">Female</div>
                  </label>
                  <label class="rad-label">
                    <input type="radio" id = "gender" class="rad-input" type="submit" name= "gender"  value = "Other">
                    <div class="rad-design"></div>
                    <div class="rad-text">Other</div>
                  </label>
                  <br>
                <div class="slidecontainer">
                    <t1>What is your age?</t1>
                    <br>
                    <input type="range" name = "age" value="50" min="10" max="100" oninput="this.nextElementSibling.value = this.value">
                    <output>50</output>  years old
                </div>
            
            <t1>What is your annual income?</t1>
            <br>
            <label class="rad-label">
                <input type="radio" id = "income" class="rad-input" type="submit" name= "income" value="30" required>
                <div class="rad-design"></div>
                <div class="rad-text">&lt;	&euro;30K</div>
            </label>
            <label class="rad-label">
                <input type="radio" id = "income" class="rad-input" type="submit" name= "income"  value = "30-50">
                <div class="rad-design"></div>
                <div class="rad-text">&euro;30-50K</div>
              </label>
              <label class="rad-label">
                <input type="radio" id = "income" class="rad-input" type="submit" name= "income"  value = "50-70">
                <div class="rad-design"></div>
                <div class="rad-text">&euro;50-70K</div>
              </label>
              <label class="rad-label">
                <input type="radio" id = "income" class="rad-input" type="submit" name= "income"  value = "70">
                <div class="rad-design"></div>
                <div class="rad-text">&gt;&euro;70K</div>
              </label>
              <br>
              </div>
            <div class="button_container">
                <button class="btn">
                    <span><a style="text-decoration: none;">Next ></a></span>
            </div>
        </form>
    </body>
</html>